.cities-header {
  margin: 1em 0;
  padding: 1.5em;
  background-color: white;

  h1 {
    margin-top: 0;
  }
}

.cities-filters {
  display: flex;
  margin-bottom: 1em;
  padding: 1.5em;
  background-color: white;
}
